<div class="col-span-1">
    <a href="{link}" class="group">
        <img src="/{imgurl}" class="w-full rounded group-hover:opacity-95 transition-all">

        <span class="text-sm mt-3 block">
            {tags}
        </span>

        <a href="{link}">
            <h3 class="mt-2 text-xl font-semibold">
                {title}
            </h3>
        </a>

        <p class="my-2 text-sm text-gray-500">
            {summary}
        </p>

        <div class="text-sm">
            {meta}
        </div>
    </a>
</div>